<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART PLANNER - LOGIN</title>
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <section class="logo">
        <img src="/img/Logo.png" alt="" width="100" height="100">
    </section>

    <section class="login-form">
        <h2>Iniciar Sesión</h2>
        <p>Accede a tu cuenta para continuar</p>

        <section>
            <h3>Email</h3>
            <div class="input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24">
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </svg>
            <input type="email" placeholder="tu@email.com" required>
            </div>
        </section>

        <section>
            <h3>Contraseña</h3>
            <div class="input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24">
                <rect x="3" y="11" width="18" height="11" rx="2"></rect>
                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>
            <input type="password" placeholder="********" required>
            </div>
        </section>

        <section class="options">
            <label><input type="checkbox"> Recordarme</label>
            <a href="/views/recuperarContraseña.html">¿Olvidaste tu contraseña?</a>
        </section>

        <button type="submit">
            Iniciar Sesión
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2"
            viewBox="0 0 24 24">
            <path d="M5 12h14"></path>
            <path d="m12 5 7 7-7 7"></path>
            </svg>
        </button>

        <p class="divider">o continúa con</p>

        <section class="social-buttons">
            <button><img src="/img/google.png" alt="Google"> Google</button>
            <button><img src="/img/facebook.png" alt="Facebook"> Facebook</button>
        </section>

        <p class="register-text">
            ¿No tienes una cuenta? <a href="/views/registro.html">Regístrate aquí</a>
        </p>
    </section>

    <footer>
        <p>© 2024 SmartPlanner. Todos los derechos reservados.</p>
    </footer>

    
</body>
</html>