<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART PLANNER - TAREAS</title>
    <link rel="icon" href="../img/Logo.png">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/tareas.css">
</head>
<body>
    <header>
        <nav>
            <div class="izquierda-nav">
                <div id="abrir-menu" class="menu">
                    <img  class="abrir-menu" src="../img/menu.png" width="18" height="18">
                </div>
                <img class="logo-nav" src="../img/Logo.png" width="40" height="40">
                <div class="nombre-descripcion">
                    <h1>SMART PLANNER</h1>
                    <p>Organiza tu tiempo y dinero</p>
                </div>
            </div>
            <div class="derecha-nav">
                <div class="buscador-nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search absolute left-3 top-1/2 transform -translate-y-1/2 text-slate-400 h-4 w-4"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
                    <input type="text" placeholder="Buscar tareas, eventos...">
                </div>
                <img class="notificaciones" src="../img/notificacion.png" width="18" height="18">
                <img class="usuario" src="" width="40" height="40" border-radius="100%">
            </div>
        </nav>
    </header>
    <main>
        <div id="menu" class="navegacion">
            <ul>
                <li>
                    <img src="../img/estadistica.png" width="20" height="20">
                    <a href="../index.html"><p>Dashboard</p></a>
                </li>
                <li>
                    <img src="../img/calendario.png" width="20" height="20">
                    <a href="calendario.html"><p>Calendario</p></a>
                </li>
                <li class="active">
                    <img src="../img/check-blanco.png" width="20" height="20">
                    <a href="tareas.html"><p>Tareas</p></a>
                </li>
                <li>
                    <img src="../img/dolar.png" width="20" height="20">
                    <a href=""><p>Finanzas</p></a>
                </li>
                <li>
                    <img src="../img/estadistica.png" width="20" height="20">
                    <a href=""><p>Estadísticas</p></a>
                </li>
            </ul>
            <div class="tips">
                <h1><img src="../img/bombilla.png" width="20" height="20">Tip del día</h1>
                <p>Vincula tus gastos con tareas para un mejor control financiero y de tiempo.</p>
            </div>
            
        <a href="views/login.html">Login</a>
        <a href="views/registro.html">Registro</a>
        <a href="views/recuperarContraseña.html">Recuperar Contraseña</a>
        </div>
        <div class="container">
            <div class="titulo">
                <h1>Gestión de Tareas</h1>
                <button><img src="../img/plus-pequeno.png" width="20" height="20">Nueva tarea</button>
            </div>
            <div class="resumen">
                <ul>
                    <li>
                        <div class="izquierda">
                            <h2>Total de tareas</h2>
                            <h1>5</h1>
                        </div>
                        <div class="derecha1">
                            <img src="../img/controlar.png" width="40" height="40">
                        </div>
                    </li>
                    <li>
                        <div class="izquierda">
                            <h2>Completadas</h2>
                            <h1>3</h1>
                        </div>
                        <div class="derecha2">
                            <img src="../img/comprobado.png" width="40" height="40">
                        </div>
                    </li>
                    <li>
                        <div class="izquierda">
                            <h2>Alta prioridad</h2>
                            <h1>0</h1>
                        </div>
                        <div class="derecha3">
                            <img src="../img/calendario-blanco.png" width="40" height="40">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buscadores">
                <div class="buscador">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search absolute left-3 top-1/2 transform -translate-y-1/2 text-slate-400 h-4 w-4"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
                    <input type="text" placeholder="Buscar tareas...">
                </div>
                <select name="" id="">
                    <option value="" selected>Todas las prioridades</option>
                    <option value="">Alta</option>
                    <option value="">Media</option>
                    <option value="">Baja</option>
                </select>
                <select name="" id="">
                    <option value="" selected>Todos los estados</option>
                    <option value="">Pendientes</option>
                    <option value="">Completadas</option>
                </select>
            </div>
            <div class="filtros">
                <a href="">Todas (5)</a>
                <a href="">Pendientes (2)</a>
                <a href="">Completadas (3)</a>
            </div>
            <div class="tareas">
                <h1>Todas las tareas</h1>
                <ul id="lista-tareas">
                    <li class="card-tarea">
                        <div class="informacion">
                            <input type="checkbox">
                            <h1>Comprar ingredientes para la cena</h1>
                            <h2>Ir al supermercado y comprar todo lo necesario</h2>
                            <p><img src="../img/calendario.png" width="20" height="20"> 2024-01-20</p>
                        </div>
                        <div class="derecha">
                            <div class="estados">
                                <p>media</p>
                                <p>$85.500</p>
                            </div>
                            <div class="crud">
                                <img src="../img/editar.png" width="20" height="20">
                                <img src="../img/eliminar.png" width="20" height="20">
                            </div>
                        </div>
                    </li>
                    <li class="card-tarea">
                        <div class="informacion">
                            <input type="checkbox">
                            <h1>Reunión con el equipo</h1>
                            <h2>Revisar el progreso del proyecto</h2>
                            <p><img src="../img/calendario.png" width="20" height="20"> 2024-01-18</p>
                        </div>
                        <div class="derecha">
                            <div class="estados">
                                <p>alta</p>
                            </div>
                            <div class="crud">
                                <img src="../img/editar.png" width="20" height="20">
                                <img src="../img/eliminar.png" width="20" height="20">
                            </div>
                        </div>
                    </li>
                    <li class="card-tarea">
                        <div class="informacion">
                            <input type="checkbox">
                            <h1>Ejercicio matutino</h1>
                            <h2>30 minutos de cardio</h2>
                            <p><img src="../img/calendario.png" width="20" height="20"> 2024-01-17</p>
                        </div>
                        <div class="derecha">
                            <div class="estados">
                                <p>baja</p>
                            </div>
                            <div class="crud">
                                <img src="../img/editar.png" width="20" height="20">
                                <img src="../img/eliminar.png" width="20" height="20">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <!-- ESTO ES EL PIE DE PAGINA, QUE NOSOTROS NO TENEMOS -->
    </footer>
    <script src="../js/funcionalidadMenu.js"></script>
</body>
</html>